*
!input/
!input/*
!input/code/
!input/code/*
!input/code/utils/
!input/code/utils/*
!input/code/elasticsearch/
!input/code/elasticsearch/*
!input/code/retrieval/
!input/code/retrieval/*
!input/code/ensemble/
!input/code/ensemble/*
!input/code/retrieval/DenseModel/
!input/code/retrieval/DenseModel/*
input/data/
input/data/*
!.bashrc
!.gitignore
!.gitmessage
!args.yaml
!README.md
!*.pdf
*.json
*.ipynb
discord_bot.py
server.py
client.py