*
!input/
!input/*
!input/code/
!input/code/*
!input/code/utils/
!input/code/utils/*
!input/code/elasticsearch/
!input/code/elasticsearch/*
!input/code/retrieval/
!input/code/retrieval/*
input/data/
input/data/*
!.bashrc
!.gitignore
!.gitmessage
!args.yaml
!README.md
!*.pdf
*.json